// you can change colors here
$theme-color: #096dd9;
$content-width: 46rem;
// $sidebar-width: 17rem;
$font-family: '"Noto Serif SC"';
$bg-color-float-blur: rgba(248, 248, 248, 0.408);
$bg-color-back: rgba(248, 248, 248, 0.4);
$bg-color: #f8f8f8;
